## Path to YAML configuration file
# DAYZ_EXPORTER_CONFIG_PATH=config.yaml

## Configuration for the exporter listening parameters
# IP address to listen on. '0.0.0.0' means listening on all available network interfaces.
DAYZ_EXPORTER_LISTEN_IP=0.0.0.0
# Port number to listen on for incoming HTTP requests.
DAYZ_EXPORTER_LISTEN_PORT=8098
# HTTP endpoint where Prometheus metrics will be exposed.
DAYZ_EXPORTER_LISTEN_ENDPOINT=/metrics
# Username used for all exporter endpoints.
DAYZ_EXPORTER_LISTEN_USERNAME=metrics
# Password used for all exporter endpoints (Basic Auth disabled if not set).
# DAYZ_EXPORTER_LISTEN_PASSWORD=SomeStrongString
# Domains for set in Access-Control-Allow-Origin header
# DAYZ_EXPORTER_LISTEN_CORS_DOMAINS=*
# Show A2S info as json on /info endpoint without auth
DAYZ_EXPORTER_LISTEN_EXPOSE_INFO=false
# Protect /info with Basic Auth
DAYZ_EXPORTER_LISTEN_INFO_AUTH=false
# Protect /health, /health/readiness and /health/liveness with Basic Auth
DAYZ_EXPORTER_LISTEN_HEALTH_AUTH=false

## Configuration for querying the DayZ server (A2S Query)
# IP address of the server to query for information.
DAYZ_EXPORTER_QUERY_IP=127.0.0.1
# Port number for A2S Query to get DayZ server information.
DAYZ_EXPORTER_QUERY_PORT=27016

## Configuration for querying the DayZ Remote Console (Battleye RCON)
# IP address for Battleye RCON. Uses the same IP as the query server.
DAYZ_EXPORTER_RCON_IP=127.0.0.1
# Port number for RCON to interact with the server.
DAYZ_EXPORTER_RCON_PORT=2305
# Password for RCON authentication.
DAYZ_EXPORTER_RCON_PASSWORD=
# Whether to expose ban information via metrics. Set to 'true' to expose bans.
DAYZ_EXPORTER_RCON_EXPOSE_BANS=false
# Size of the buffer used for RCON communication.
DAYZ_EXPORTER_RCON_BUFFER_SIZE=1040
# Timeout (in seconds) for keeping the RCON connection alive.
DAYZ_EXPORTER_RCON_KEEPALIVE_TIMEOUT=30
# Timeout (in seconds) for RCON command execution.
DAYZ_EXPORTER_RCON_DEADLINE_TIMEOUT=5

## Custom labels to be added to the metrics, can be useful for distinguishing between servers or clusters
## Format key1:value1,key2:value2
## Example of data center and rack labels.
# DAYZ_EXPORTER_LABELS="dc:HV-1,rack:U4"

## Path to the GeoIP database for IP geo location. This file is used for enriching player data and bans with location information.
# DAYZ_EXPORTER_GEOIP_DB=./GeoLite2-Country.mmdb

## Logging configuration
# Logging level. Options: 'debug', 'info', 'warn', 'error'.
DAYZ_EXPORTER_LOG_LEVEL=info
# Logging format. Options: 'text' (human-readable) or 'json' (structured).
DAYZ_EXPORTER_LOG_FORMAT=text
# Output destination for logs. Options: 'stderr', 'stdout', or a file path.
DAYZ_EXPORTER_LOG_OUTPUT=stderr
