html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(0deg, #20150c 0%, #bb9370 49%, #82765e 100%);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #503c2c;
}

h3 {
  color: #5e4334;
}

a {
  color: #b95229;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fdfaf7;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0.1rem 0.1rem rgba(53, 26, 11, 0.1);
}

pre {
  background: #fdfaf7;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  box-shadow: 0 0.1rem 0.1rem rgba(53, 26, 11, 0.1);
}

.container {
  max-width: 800px;
  width: 100%;
  background: #f7f5f3;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(53, 26, 11, 0.1);
}
